@model MISCORE2019.Models.LoginModel

<head>
    <link rel="stylesheet" type="text/css" href="~/css/AccesDenied.css" />
</head>

<body>
    <div class="basic-div"> 
        <div class="access-denied-div">
            <n>У вас нет доступа!</n>
            <form action="@Url.Action("Index", "Home")">
                <div class="div-buttons">
                    <button>
                        <a>Вернуться</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>