@model MISCORE2019.Models.LoginModel

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Login.css" />
</head>

<div class="basic-div">
    <div class="login-div">
        <a class="a-login">Вход</a>
        <form method="post" asp-controller="Account" asp-action="Login" class="login-form"
              asp-route-returnUrl="@Model.ReturnUrl">

            <div asp-validation-summary="ModelOnly"></div>

            <input type="email" placeholder="Email" asp-for="Email" required />
            <span asp-validation-for="Email"></span>
            
            <input type="password" placeholder="Пароль" asp-for="Password" required />
            <span asp-validation-for="Password"></span>
            
            <div class="remember-div">
                <label asp-for="RememberMe"></label>
                <input type="checkbox" asp-for="RememberMe" />
            </div>
            
            <div class="div-buttons">
                <button type="submit">
                    <a>Войти</a>
                </button>
            </div>
        </form>
    </div>
</div>

