@model MISCORE2019.Models.Visit

@{ ViewData["Title"] = "Edit"; }

<head>
    <link rel="stylesheet" type="text/css" href="~/css/VisitsEdit.css" />
</head>

<div class="basic-div">
    <div class="edit-div">
        <form asp-action="Edit">
            <div>
                <label asp-for="time" class="control-label">Дата и время</label>
                <input type="datetime-local" min="1900.01.01 8:00" max="2024.12.31 22:00" value="1900.01.01 8:00" asp-for="time" />
                <span asp-validation-for="time" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="doctors" class="spec-label">Доктор</label>
                <select asp-for="doctors" asp-items="ViewBag.Doctors" multiple="multiple"></select>
            </div>
            <div class="div-buttons">
                <button asp-action="Edit">
                    <a>Сохранить</a>
                </button>
                <button asp-action="Index">
                    <a>Вернуться</a>
                </button>
            </div>
        </form>
    </div>
</div>