@model MISCORE2019.Models.Patient

@{ ViewData["Title"] = "Create"; }

<head>
    <link rel="stylesheet" type="text/css" href="~/css/PatientsCreate.css" />
</head>

<div class="basic-div">
    <div class="create-div">
        <form asp-action="Create">
            <div>
                <input placeholder="ФИО" asp-for="FIO" />
                <span asp-validation-for="FIO" class="text-danger"></span>
            </div>
            <div class="div-buttons">
                <button asp-action="Create">
                    <a>Создать</a>
                </button>
                <button asp-action="Index">
                    <a>Вернуться</a>
                </button>
            </div>
        </form>
    </div>
</div>