@model MISCORE2019.Models.Patient

@{ ViewData["Title"] = "Details"; }

<head>
    <link type="text/css" href="~/css/PatientsDetails.css" rel="stylesheet" />
</head>

<div class="basic-div">
    <div class="details-div">
        <form asp-action="Edit">
            <div class="info-div">
                <div class="FIO-div">
                    @Html.DisplayFor(model => model.FIO)
                </div>
                <div class="visits-div">
                    Посещения:@string.Join(", ", Model.visits?.Select(v => v.time.ToString("g")) ?? Enumerable.Empty<string>())
                </div>
                <div class="analyzec-div">
                    Анализы:@string.Join(", ", Model.analyzes?.Select(a => $"Blood Group: {a.bloodGroup}, Epileptic Activity: {a.epileptiphoricActivity}") ?? Enumerable.Empty<string>())
                </div>
            </div>
            <div class="div-buttons">
                <button asp-action="Edit" asp-route-id="@Model.ID">
                    <a>Изменить</a>
                </button>
                <button asp-action="Index">
                    <a>Вернуться</a>
                </button>
            </div>
        </form>
    </div>
</div>