@model MISCORE2019.Models.Patient

@{ ViewData["Title"] = "Edit"; }

<head>
    <link rel="stylesheet" type="text/css" href="~/css/PatientsEdit.css" />
</head>

<div class="basic-div">
    <div class="edit-div">
        <form asp-action="Edit">
            <div>
                <input placeholder="ФИО" asp-for="FIO" class="form-control" />
                <span asp-validation-for="FIO" class="text-danger"></span>
            </div>
            <div class="div-buttons">
                <button asp-action="Edit" class="save-button">
                    <a>Сохранить</a>
                </button>
                <button asp-action="Index" class="back-button">
                    <a>Вернуться</a>
                </button>
            </div>
        </form>
    </div>
</div>