@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Home.css" />
</head>

<div class="background"></div>
<div class="centered-text">
    Epileptic Clinic
</div>