@model MISCORE2019.Models.Doctor


@{ ViewData["Title"] = "Create"; }

<head>
    <link rel="stylesheet" type="text/css" href="~/css/DoctorsCreate.css" />
</head>

<div class="basic-div">
    <div class="create-div">
        <form asp-action="Create">
            <div>
                <input placeholder="ФИО" asp-for="FIO" class="form-control" />
                <span asp-validation-for="FIO" class="text-danger"></span>
            </div>
            <div>
                <input placeholder="Специализация" asp-for="specialization" class="form-control" />
                <span asp-validation-for="specialization" class="text-danger"></span>
            </div>
            <div class="div-buttons">
                <button asp-action="Create">
                    <a>Создать</a>
                </button>
                <button asp-action="Index">
                    <a>Вернуться</a>
                </button>                          
            </div>
        </form>
    </div>
</div>
