@model MISCORE2019.Models.Doctor

@{ ViewData["Title"] = "Edit"; }

<head>
    <link rel="stylesheet" type="text/css" href="~/css/DoctorsEdit.css" />
</head>

<div class="basic-div">
    <div class="edit-div">
        <form asp-action="Edit">
            <div>
                <label asp-for="FIO" class="fio-label"></label>
                <input asp-for="FIO" class="fio-control" />
                <span asp-validation-for="FIO" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="specialization" class="spec-label"></label>
                <input asp-for="specialization" class="spec-control" />
                <span asp-validation-for="specialization" class="text-danger"></span>
            </div>
            <div class="div-buttons">
                <button asp-action="Edit" class="save-button">
                    <a>Сохранить</a>
                </button>
                <button asp-action="Index" class="back-button">
                    <a>Вернуться</a>
                </button>
            </div>
        </form>
    </div>
</div>
