body {
    margin: 0;
    background-color: #EAF4FB;
}

.basic-div {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.access-denied-div {
    background-color: #FFFFFF;
    padding: 30px;
    border: 0px solid;
    border-radius: 8px;
    width: min(20%, 350px);
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    margin-top: 4%;
    width: 100%;
}

.div-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 16px;
    width: 50%;
    padding: 2%;
    border: 0px solid;
    border-radius: 6px;
    background-color: #64B5F6;
    transition: background-color 100ms ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

    button:hover {
        background-color: #42A5F5;
    }

    button:active {
        background-color: #1E88E5;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

a {
    text-decoration: none;
    color: #FFFFFF;
}
n {
    font-size: 24px;
}
