body {
    margin: 0;
    background-color: #EAF4FB;
}

.basic-div {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.edit-div {
    background-color: #FFFFFF;
    padding: 30px;
    border: 0px solid;
    border-radius: 8px;
    min-width: min(50%, 500px);
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #333333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #BBDEFB;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.div-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    font-size: 16px;
    width: 40%;
    padding: 2%;
    border: 0px solid;
    border-radius: 6px;
    background-color: #64B5F6;
    transition: background-color 100ms ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

button:hover{
    background-color: #42A5F5; 
}

button:active{
    background-color: #1E88E5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: black;
    color: #FFFFFF;
}
