body {
    margin: 0;
    background-color: #EAF4FB;
}

.basic-div {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.graph-div {
    background-color: #FFFFFF;
    padding: 30px;
    border: 0px solid;
    border-radius: 8px;
    width: min(50%, 650px);
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.graph {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

input {
    width: 35%;
    padding: 8px;
    margin-bottom: 2%;
    border: 2px solid #BBDEFB;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

button {
    margin-top: 2%;

    cursor: pointer;
    font-size: 16px;
    width: 40%;
    padding: 2%;
    border: 0px solid;
    border-radius: 6px;
    background-color: #64B5F6;
    transition: background-color 100ms ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

    button:hover {
        background-color: #42A5F5;
    }

    button:active {
        background-color: #1E88E5;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

a {
    text-decoration: none;
    color: white;
}

.h2-graph {
    margin: 3% 0;
}