body {
    margin: 0;
    background-color: #EAF4FB;
}

.basic-div {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.registration-form {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-div {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border: 0px solid;
    border-radius: 8px;
    min-width: min(30%, 400px);
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    align-items: center;
}

.a-registration {
    color: black;
    margin-bottom: 20px;
    font-size: 20px;
}

label {
    margin-bottom: 8px;
    color: #333;
    text-align: center;
}

input[type="email"],
input[type="number"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.select-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

select {
    width: 100%;
    padding: 10px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    outline: none;
}

select:focus {
    border-color: black;
    border: 2px solid black;
}

.div-buttons {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 16px;
    padding: 3%;
    border: 0px solid;
    border-radius: 6px;
    background-color: #64B5F6;
    transition: background-color 100ms ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

    button:hover {
        background-color: #42A5F5;
    }

    button:active {
        background-color: #1E88E5;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

a {
    text-decoration: none;
    color: black;
    color: #FFFFFF;
}