@model MISCORE2019.Models.Analyze

@{ ViewData["Title"] = "Create"; }

<head>
    <link rel="stylesheet" type="text/css" href="~/css/AnalyzecCreate.css" />
</head>

<div class="basic-div">
    <div class="create-div">
        <form asp-action="Create">
            <div>
                <label asp-for="bloodGroup" class="control-label"></label>
                <input asp-for="bloodGroup" class="form-control" />
                <span asp-validation-for="bloodGroup" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="epileptiphoricActivity" class="control-label"></label>
                <input asp-for="epileptiphoricActivity" class="form-control" />
                <span asp-validation-for="epileptiphoricActivity" class="text-danger"></span>
            </div>
            <div class="div-buttons">
                <button asp-action="Create">
                    <a>Создать</a>  
                </button>
                <button asp-action="Index">
                    <a>Вернуться</a>
                </button>
            </div>
        </form>
    </div>
</div>