@model MISCORE2019.Models.Analyze

@{ ViewData["Title"] = "Delete"; }

<head>
    <link type="text/css" href="~/css/AnalyzecDelete.css" rel="stylesheet" />
</head>

<div class="basic-div">
    <div class="delete-div">
        <form asp-action="Delete">
            <div class="info-div">
                <div class="weight-div">
                    <n>@(Html.DisplayNameFor(model => model.bloodGroup)): @Html.DisplayFor(model => model.bloodGroup)</n>                  
                </div>
                <div class="diagnosis-div">
                    <n>@(Html.DisplayNameFor(model => model.epileptiphoricActivity)): @Html.DisplayFor(model => model.epileptiphoricActivity)</n>                   
                </div>
            </div>

            <div class="div-buttons">
                <button asp-action="Delete">
                    <a>Удалить</a>
                </button>
                <button asp-action="Index">
                    <a>Вернуться</a>
                </button>
            </div>
        </form>
    </div>
</div>
