@model MISCORE2019.Models.Analyze

@{ ViewData["Title"] = "Edit"; }

<head>
    <link rel="stylesheet" type="text/css" href="~/css/AnalyzecEdit.css" />
</head>

<div class="basic-div">
    <div class="edit-div">
        <form asp-action="Edit">
            <div>
                <label asp-for="bloodGroup" class="bloodGroup-label"></label>
                <input asp-for="bloodGroup" class="bloodGroup-control" />
                <span asp-validation-for="bloodGroup" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="epileptiphoricActivity" class="epActivity-label"></label>
                <input asp-for="epileptiphoricActivity" class="epActivity-control" />
                <span asp-validation-for="epileptiphoricActivity" class="text-danger"></span>
            </div>
            <div class="div-buttons">
                <button asp-action="Edit" class="save-button">
                    <a>Сохранить</a>
                </button>
                <button asp-action="Index" class="back-button">
                    <a>Вернуться</a>
                </button>
            </div>
        </form>
    </div>
</div>